body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
}

header {
    padding: 60px 20px;
    background-color: #000;
}

section {
    padding: 40px 20px;
}

a {
    color: #00aced;
    text-decoration: none;
    font-weight: bold;
}

footer {
    padding: 20px;
    background-color: #000;
    font-size: 14px;
}
